<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body class="heroimage1">
    <h1>Welcome To Sampart AI</h1>

    <h1>A Customizable QR Code Generator</h1>
    <form action="/generate" method="post" enctype="multipart/form-data">
      <label for="url">Enter URL:</label>
      <input type="text" id="url" name="url" required /><br /><br />

      <label>Customize with logo?</label>
      <div class="inline">
        <input type="radio" id="yes" name="customize_logo" value="yes" />
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="customize_logo" value="no" checked />
        <label for="no">No</label><br /><br />
      </div>

      <div id="logo_upload" style="display: none">
        <label for="logo">Upload Logo:</label>
        <input type="file" id="logo" name="logo" />
      </div>
      <br /><br />

      <label for="background_color">Background Color:</label>
      <div class="mid">
        <input
          type="color"
          id="background_color"
          name="background_color"
          value="#ffffff"
        /><br /><br />
      </div>

      <input type="submit" value="Generate QR Code" />
    </form>

    <script>
      document
        .querySelector('input[name="customize_logo"]')
        .addEventListener("change", function () {
          document.getElementById("logo_upload").style.display =
            this.value === "yes" ? "block" : "none";
        });
    </script>
  </body>
</html>
