<!-- templates/qr_display.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body><div class="heroimage2">
    <h1>QR Code Display</h1>
    <img src="{{ qr_image }}" alt="QR Code">
    <a href="{{ qr_image }}" class="download-button" download="qr_code.jpg">Download QR Code</a>
</div></body>
</html>
